<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset='UTF-8'>
    <title> My first Angular Site. Yay!!! Kittens/rainbows </title>
  </head>
  <body ng-init="name = 'Johhnnyyy bravo'">
    <h1> Hello {{name}} Welcome to the site! </h1>
    <input ng-model="name">

    <section ng-init="names = ['tim', 'janet', 'beth']">
      <ul>
        <li> {{names[0]}} </li>
        <li> {{names[1]}} </li>
        <li> {{names[2]}} </li>
      </ul>

      <ul>
        <li ng-repeat="name in names">
          {{name}}
        </li>
      </ul>

      <div ng-init="people = []">
        <section ng-repeat="person in people">
          <h1> {{person.name}} </h1>
        </section>
      <div>


    </section>

    <script src='./bower_components/angular/angular.js'></script>
  </body>
</html>
